{
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 125,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
